body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top, .footer {
    background-color: #1f2937;
}

.top {
    padding: 8px 100px 100px 100px;
}

h1, h2, h3 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a, .top p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top nav h2 {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border: 1px solid #3882f6;
    padding: 6px 40px;
    border-radius: 8px;
    font-weight: bold;
}

.container {
    display: flex;
    margin-top: 100px;
    gap: 24px;
}

.left {
    flex: 1;
}

.image {
    flex: 1;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top .container .left p {
    margin: 8px 0;
}

.main h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 48px 0;
}

.main .info {
    margin: 0 auto 100px;
    width: 800px;
    text-align: center;
    gap: 48px;
}

.main .box {
    border: 5px solid #3882f6;
    border-radius: 16px;
    height: 150px;
}

.card p {
    margin: 8px 0;
}

.testimonial {
    padding: 100px 0;
    background-color: #e5e7eb;
    margin-bottom: 100px;
}

.testimony, .author {
    width: 800px;
    margin: 0 auto;
}

.testimony {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bold;
    margin-top: 16px;
    font-size: 24px;
    text-align: end;
}

.main .cta {
    background-color: #3882f6;
    padding: 50px;
    margin: 0 100px 100px;
    align-items: center;
    border-radius: 8px;
}

.main .cta .left {
    color: #e5e7eb;
    text-align: left;
    margin-left: 75px
}

.cta .left h3 {
    font-size: 24px;
}

.cta .left p {
    margin-top: 8px;
    margin-bottom: 0;
}

.cta .cta-button {
    border-color: white;
    height: 35px;
    margin-right: 75px;
}

.footer {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}